<div class="col-sm-12 col-lg-6">

	<div class="card session-card p-0">
		<img class="card-img-top img-fluid" src="{{asset(session.imageLink)}}">


		<div class="card-body pb-2">

			<div class="card-title mb-2">
				<div>
					<h4 class="card-title h3 p-0 m-0">Course Name</h4>
					<div class="creator">
						<h5 class="card-title text-muted h6 p-0 m-0">Creator Name</h5>
					</div>
				</div>

				<span class="badge bg-success fw-bolder fs-6">
					{{session.price|number_format(3)}}
					DT</span>
			</div>


			<div class="card-content">
				<a href="{{path('session', {id:session.id})}}">
					<p class="fs-6 text-muted">
						{{session.date|date('Y - m - d')}}


						<span class="mx-1">
							|
						</span>

						{{session.startTime|date('H:i')}}
						-
						{{session.endTime|date('H:i')}}

					</p>
					<p class="card-text text-body">{{session.topics}}</p>

					<a class="details-link" href="{{path('session', {id:session.id})}}">Voir Details
						<i class="ps-1 fas fa-external-link-alt"></i>
					</a>
				</a>
			</div>


			<div class="card-actions mt-2 p-0">
				<small class="text-body-secondary">Nombre de places :
					<br>
					{{session.places}}
					{% if session.maxPlaces is not null %}
						/
						{{session.maxPlaces}}
					{% endif %}
				</small>

				<button class="participate-action btn btn-primary waves-effect waves-light fs-5">
					<span class="btn-label">
						<i class="fas fa-shopping-cart fs-6"></i>
					</span>
					Participer
				</button>

				<button class="mobile-btn participate-action btn btn-lg btn-primary waves-effect waves-light ">
					<i class="fas fa-shopping-cart fs-4"></i>
				</button>
			</div>

		</div>
	</div>
</div>
